extends layout

block content
  #main
    - if (ref == 'wrong')
      h1 Incorrect PIN.
    - if (token)
      h1= "Your token is: " + token

    h3 Generate token:
    form(method='post', action='/generate')
      label PIN
      br
      input.span5(name='pin', type='text', required)
      br
      input.btn.btn-success(type='submit', value='Generate')
